<section class="section_experience">
  <div class="section_title">Experience</div>
  <div class="section_content">
			I'm currently part of the wonderful team at <a href="https://getsquire.com/">SQUIRE</a> as an Engineering Manager.
      <br><br>
    <div class="list">
      {% for entry in site.data.experience %}
      <article class="experience_card">

        <header class="card_header">{{ entry.position }}</header>
        <p class="card_description">{{ entry.description }}</p>
        <div class="time-container">
          <div class="company-logo">
            <img src="{{ site.baseurl }}/img/sqr.svg" alt="SQUIRE" />
          </div>
          <p class="card_time">{{ entry.time }}</p>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>