<section class="section_experience">
  <div class="section_title">Experience</div>
  <div class="section_content">
			I'm currently part of the wonderful team <a href="https://getsquire.com/">@getsquire</a> as a Software Engineer working with various technologies such as <a href="https://nodejs.org/en/">Node</a>, <a href="https://reactjs.org/">React</a>, as well as iOS Development in both <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html">Objective C</a> and <a href="https://developer.apple.com/swift/">Swift</a>.
      <br><br>
    <div class="list">
      {% for entry in site.data.experience %}
      <div class="experience">
        <blockquote>
          <span class="job_title">{{ entry.company }}</span><br>
          <div class="job_details">
            {{ entry.position }} <br>
            {{ entry.time }} <br>
            {{ entry.city }}
          </div>
         </blockquote>    	 
   	  </div>
      {% endfor %}
    </div>
  </div>
</section>