<section class="section_experience">
  <div class="section_title">Experience</div>
  <div class="section_content">
			I'm currently part of the wonderful team at <a href="https://getsquire.com/">SQUIRE</a> as an Engineering Manager.
      <br><br>
    <div class="list">
      {% for entry in site.data.experience %}
      <div class="experience">
        <blockquote>
          <span class="job_title">{{ entry.company }}</span><br>
          <div class="job_details">
            {{ entry.position }} <br>
            {{ entry.time }} <br>
            {{ entry.city }}
          </div>
         </blockquote>    	 
   	  </div>
      {% endfor %}
    </div>
  </div>
</section>