<section class="section_projects">
  <div class="section_title">Side Projects</div>
  <div class="section_content">
  	
  	<div class="grid">
      {% for project in site.data.projects %}
    	<div class="card">
    		<div class="card_header">
          <div class="center_text"> {{ project.title }} </div>
    		</div>
    		<div class="card_description center_text">
      		{{ project.description }}
    		</div>
        <div class="center_text">
          <!-- github link -->
          {% if project.code %}
            <a href="{{ project.code }}">
              <img class="img_links" src="{{ site.baseurl }}/img/g.svg" />
            </a>
          {% endif %}
          <!-- blog post link -->
          {% if project.url %}
            <a href="{{ project.url }}">
              <img class="img_links" src="{{ site.baseurl }}/img/b.svg" />
            </a>
          {% endif %}
          <!-- live link -->
          {% if project.link %}
            <a href="{{ project.link }}">
              <img class="img_links" src="{{ site.baseurl }}/img/link.svg" />
            </a>
          {% endif %}
        </div>
    	</div>
    	{% endfor %}
    </div>
  </div>
</section>